<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>trashContainer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>querytrash</display-name>
    <servlet-name>querytrash</servlet-name>
    <servlet-class>team.environment.servlets.querytrash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querytrash</servlet-name>
    <url-pattern>/querytrash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>querytrashservlet</display-name>
    <servlet-name>querytrashservlet</servlet-name>
    <servlet-class>team.environment.servlets.querytrashservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querytrashservlet</servlet-name>
    <url-pattern>/querytrashservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Querytrashservlets</display-name>
    <servlet-name>Querytrashservlets</servlet-name>
    <servlet-class>team.environment.servlets.Querytrashservlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Querytrashservlets</servlet-name>
    <url-pattern>/Querytrashservlets</url-pattern>
  </servlet-mapping>
</web-app>