<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>trashContainer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryClassServlet</display-name>
    <servlet-name>QueryClassServlet</servlet-name>
    <servlet-class>team.environment.servlets.QueryClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryClassServlet</servlet-name>
    <url-pattern>/QueryClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTrashListServlet</display-name>
    <servlet-name>ShowTrashListServlet</servlet-name>
    <servlet-class>team.environment.servlets.ShowTrashListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTrashListServlet</servlet-name>
    <url-pattern>/ShowTrashListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>querytrashservlet</display-name>
    <servlet-name>querytrashservlet</servlet-name>
    <servlet-class>team.environment.servlets.querytrashservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>querytrashservlet</servlet-name>
    <url-pattern>/querytrashservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogServlet</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>team.environment.servlets.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/LogServlet</url-pattern>
  </servlet-mapping>
</web-app>